<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <div class="navbar-nav">
      <div class="navbar-box" id="navbar-box1">
        <div id="navbar-linksbox">
          <a class="navbar-brand" href="/listings"
            ><i class="fa-regular fa-compass"></i
          ></a>
          <a class="nav-link" id="explore-nav-link" href="/listings">Explore</a>
        </div>
        <div id="navbar-box-form">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2 search-input"
              type="search"
              placeholder="Search destination"
            />
            <button class="btn search-btn" type="submit">
              Search <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="btn search-btn-1" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <div id="navbar-linkbox">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </div>
      </div>

      <div class="navbar-box"   >
        <button
          class="btn togglerBtn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#customCollapseCard"
          aria-expanded="false"
          aria-controls="customCollapseCard"
        >
          <span class="navbar-toggler-icon"></span>
          <i class="fa-solid fa-circle-user"></i>
        </button>
      </div>
    </div>

    <div class="navbar-nav nav-form ms-auto">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2 search-input"
          type="search"
          placeholder="Search destination"
        />
        <button class="btn search-btn" type="submit">
          Search <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="btn search-btn-1" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <div class="collapse custom-dropdown" id="customCollapseCard">
      <div class="card card-body custom-card-style">
        <a class="nav-link" id="explore-nav-link1" href="/listings">Explore</a>

        <a class="nav-link" id="airbnb-nav-link" href="/listings/new"
          >Airbnb your home</a
        >
        <hr />
        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
